<div class=container>
  <h2 class="text-center mb-4">About</h2>
  <div class="row">
    <h4>管理者ページ</h4>
    <div>
      商品の管理者ページは右からアクセスできます
      <%= link_to admin_products_path, admin_products_path%> <br>
      管理者ページのためログインが必要です。以下をお使いください。管理者アカウントの新規登録はできません。
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">email:</li>
        <li class="list-group-item border-0">admin1@example.com</li>
      </ul>
      <ul class="list-group list-group-horizontal border-0">
        <li class="list-group-item border-0">password:</li>
        <li class="list-group-item border-0">password</li>
      </ul>
    <div>
  </div>
</ul>